/*--------pages d'acceuil--------------*/
html, body
  font-family: Consolas, monaco, monospace
  color: #62c462
.container
  width: 980px
  height: 100%
  margin: 0 auto
  /*background: url('../img/backgroundHerbe.png') repeat-x fixed bottom*/
  &::after
    content: ''
    display: block
    clear: both
a
  text-decoration: none
  color: #A6E22E
  &:hover
    color: #F92672

.box
  position: relative
  width: 100%
  font-family: Helvetica
  border-radius: 5%
  padding: 30px 50px 30px
  box-sizing: border-box
  ul
    margin-left: 10px
    h2
      color: darkgreen
    li
      font-style: italic
      margin-left: 30px

//Affichage des caractèristiques de l'utilisateur
.left
  width: 50%
  margin: 0 auto
  float: left
  &::before
    display: block
    content: ""
    clear: both

.right
  width: 50%
  margin: 0 auto

//intégration page 404
#error404
  background: url("../img/champs.png") no-repeat
  background-size: cover
  #errorSection
    float: right
    margin-top: 5%
    color: #fff
    background: rgba(0, 0, 0, 0.2)
    border-radius: 6%
    width: 100%
    #errorTitle
      display: block
      color: black
      font-weight: bold
      font-size: 2em
      padding: 5% 0%
      text-align: center
      margin: auto
      width: 100%
    .errorP
      color: black
      padding: 5% 5%
      font-weight: bold
      font-size: 1.2em
    #errorParagraphe
      display: block
      float: right
      width: 80%
      padding-top: 10%
      position: absolute
      left: 5%
      text-align: center
    .errorDiv
      position: relative
      margin: auto
      &::before
        float: left
        content: ""
        background: url("../img/fermier.png") no-repeat
        width: 250px
        height: 250px
        margin-left: 10%
      &::after
        float: left
        content: ""
        background: url("../img/cow2.png") no-repeat
        background-size: contain
        width: 200px
        height: 200px
        padding: 2%
        margin-left: 30%




/*---------------integration layout---------------------------------------*/
/*----------------------------------------------------------------------------*/
/* utilities */

.clearfix
  clear: both
  display: block

/*.................................................................................*/
/*.......................................HEADER..................................*/
header
  background: url("../img/champs.png") no-repeat bottom
  background-size: cover
  /* logo */
  #logo
    #logo2
      width: 25%
      height: 25%
      padding: 1% 10%
  img
    display: block
    float: left
    padding: 30px
  #infoUser
    float: right
    padding: 1em 0 1em 0
    color: #fff
    background: rgba(0, 0, 0, 0.45)
    border-radius: 5%
    width: 20%
    margin-top: 4%
    div
      margin: 0 1em 0
      width: 80%
      padding: 5px
      &:first-child::before
        background: url("../img/avatar.png") no-repeat center
        background-size: cover
        content: ""
        width: 1.8em
        height: 1.3em
        display: block
        float: left
        margin-right: 1em
      &:nth-child(2)::before
        background: url("../img/xp.png") no-repeat center
        background-size: cover
        content: ""
        width: 1.8em
        height: 1.3em
        display: block
        float: left
        margin-right: 1em
      &:last-of-type::before
        background: url("../img/or.png") no-repeat center
        background-size: cover
        content: ""
        width: 1.8em
        height: 1.3em
        display: block
        float: left
        margin-right: 1em
    a
      margin: 0em 2em 0em
      display: block
      border-radius: 5%
      padding: 0.5em
      width: 80%
  nav
    position: relative
    top: 3em
    width: 100%
    ul
      width: 90%
      margin: auto
      li
        float: left
        list-style: none
        background: url("../img/pencarte.gif") no-repeat center
        background-size: contain
        position: relative
        padding: 7.5% 6.5%
        margin: 0 1% 0
        a
          text-decoration: none
          color: #1a1a1a
          font-weight: bold
          position: absolute
          top: 2.5em
          text-transform: capitalize
          padding: 2em
          left: -0.6em
        #farm
          left: 0.4em
        #animals
          left: -0.4em
        #market
          left: -0.2em

.viber:hover
  cursor: pointer
  animation: vibration 2s cubic-bezier(.2,.52,.71,.56) 0s

@-webkit-keyframes vibration
  0%
    opacity: 1
    -webkit-transform: rotate(-2deg)

  25%
    -webkit-transform: rotate(-3deg)

  50%
    -webkit-transform: rotate(3deg)

  75%
    -webkit-transform: rotate(-2deg)

  100%
    opacity: 1
    -webkit-transform: rotate(1deg)


/*.......................................MAIN....................................*/
main
  padding: 4em 0
  #navLeft
    margin-top: 25px
    width: 25%
    display: block
    float: left
    box-sizing: border-box
    article
      background : url("../img/background.jpg") repeat-y
      background-size: 100%
      border-radius: 5px
      margin: 0 auto 0.5em
      box-sizing: border-box
      ul
        padding-bottom: 5%
      h4
        color: black
        padding: 5px
        text-transform: uppercase
        font-weight: bold
        font-size: 19px
        margin: 0 auto
        width: 120px
        text-align: center
      h5
        color: white
        margin-left: 15%
        font-size: 1.1em
      li
        margin-left: 48px
        text-decoration: none
        color: black
        text-transform: uppercase
        font-weight: bold
        font-size: 0.9em
        padding: 1.5% 0% 1.5% 0%
      a
        display: block
        padding: 1em
        margin: auto
        width: 50%
        text-decoration: none
        color: white
        font-size: 1em
        font-weight: bold
        background: rgba(255,255,255,0.4)
        border-radius: 5%
        text-transform: uppercase
        text-align: center
        &:hover
          background: rgba(0,0,0,0.6)
        &:active
          background: rgba(127,127,127,0.3)
    h6
      font-style: italic
      font-weight: bold
      margin-left: 15%
      font-size: 1.1em
      color: white
      padding: 5% 2% 2%
    #products
      position: relative
      color: white
      padding: 12% 0% 0%
      button
        padding: 5%
        color: black
      #listProducts
        li
          margin: auto
          width: 60%
          padding: 0.5em 3.5em
          font-weight: bold
          color: white
          font-size: 1em
        .fieldsReady
          font-size: 15px
          text-align: center
          padding: 4% 2% 6%
          color: black
          font-weight: bold
      button
        padding: 4% 10%
        border-radius: 5px
        cursor: pointer
        text-transform: uppercase
        background: rgba(0,0,0,0.5)
        border: 0
        width: 200px
        margin-left: 20px
        &:hover
          background: rgba(0,0,0,0.6)
        &:active
          background: rgba(127,127,127,0.2)
    #creations
      position: relative
      color: white
      padding: 12% 0% 0%
      .red
        color: red
        display: inline-block
        &::after
          content: ""
          display: block
          background: url("../img/or.png") no-repeat center
          width: 15px
          height: 15px
          background-size: cover
          float: right
          margin-left: 5px
      .lvlnotsuffisant
        color: red
      .green
        color: green
        display: inline-block
        &::after
          content: ""
          display: block
          background: url("../img/or.png") no-repeat center
          width: 15px
          height: 15px
          background-size: cover
          float: right
          margin-left: 5px
      &::before
        content: ''
        display: block
        clear: both
      button
        float: right
        margin: 0px 40px 0px 10px
        padding: 1% 3% 1% 3%
        cursor: pointer
        background: rgba(255,255,255,0.2)
        border: 0
        &:hover
          background: rgba(255,255,255,0.6)
        &:active
          background: rgba(127,127,127,0.3)
    #chat
      width: 70%
      margin: auto
      #chatDisplay
        background-color: white
        border: 1px solid lightgrey
        min-height: 80px
        background: rgba(0,0,0,0.45)
        color: lightgreen
        padding: 5%
      #chatboard
        textarea
          padding: 5%
          width: 89%
          max-width: 89%
          height: 40px
          max-height: 40px
          background: rgba(0,0,0,0.45)
          color: lightgreen
      button
        font-weight: bold
        color: white
        padding: 5%
        border-radius: 5px
        cursor: pointer
        text-transform: uppercase
        background: rgba(255,255,255,0.6)
        border: 0
        width: 99%
        margin-bottom: 5%
        &:hover
          background: rgba(0,0,0,0.5)
        &:active
          background: rgba(127,127,127,0.3)
  #buttonNavLeft
    display: none
  #content
    width: 70%
    float: right
    box-sizing: border-box
#farmcontenant
  background: url('../img/farmcontent.png') no-repeat
  background-size: 650px 700px
  border-radius: 5%
  padding: 30px
  margin-top: 50px
  height: 700px
  width: 650px
  #farmcontenu
    padding: 63px 63px 63px 93px

  progress
    display: block
    width: 30%
    height: 20px
/*.......................................FOOTER..................................*/
footer
  background-color: green
  text-align: center
  text-transform: capitalize
  p
    padding: 1em 0em
    color: lightgrey


/*------------------------------------integration des templates-------------------------------------------*/
/*--------page animals listing----------*/
.avatar
  float: left
  width: 30%
  img
    width: 75%
    margin: 0 auto
    margin-left: 30px
    margin-top: 12px
.listing
  border: 3px solid black
  border-radius: 10px
  margin: 0.5em
  .information
    float: left
    width: 50%
    padding: 2%
    box-sizing: border-box
    li
      padding: 0.1em
    button
      padding: 2% 4%
      border-radius: 5px
      cursor: pointer
      text-transform: uppercase
      background: rgba(0,0,0,0.2)
      border: 0
      width: 200px
      margin-top: 10px
      &:hover
        background: rgba(0,0,0,0.6)
      &:active
        background: rgba(127,127,127,0.2)
  &::after
    content: ''
    display: block
    clear: both

/*--------page building listing----------*/
.avatarBuilding
  float: left
  width: 30%
  img
    width: 90%
    height: 80%
    float: left
    padding: 15% 10%
.listingBuilding
  border: 3px solid black
  border-radius: 10px
  margin: 0.5em
  .informationBuilding
    width: 70%
    float: right
    padding: 5%
    box-sizing: border-box
    li
      padding: 0.1em
    button
      padding: 2% 4%
      border-radius: 5px
      cursor: pointer
      text-transform: uppercase
      background: rgba(0,0,0,0.2)
      border: 0
      width: 200px
      margin-top: 10px
      &:hover
        background: rgba(0,0,0,0.6)
      &:active
        background: rgba(127,127,127,0.2)
  &::after
    content: ''
    display: block
    clear: both

/*--------page fields listing----------*/
.avatarField
  float: left
  width: 30%
  img
    width: 35%
    float: left
    padding: 4% 10%
    margin-left: 20%
    margin-top: 4px
.listingField
  border: 3px solid black
  border-radius: 10px
  margin: 10px
  .informationField
    padding: 3%
    width: 70%
    li
      padding: 0.1em
    button
      padding: 1% 2%
      border-radius: 5px
      cursor: pointer
      text-transform: uppercase
      background: rgba(0,0,0,0.2)
      border: 0
      width: 200px
      margin-top: 10px
      &:hover
        background: rgba(0,0,0,0.6)
      &:active
        background: rgba(127,127,127,0.2)
    progress
      width: 90%
      margin-left: 30%
  &::after
    content: ''
    display: block
    clear: both


/*..................................................................................*/
/* ..........................RESPONSIVE DESIGN.......................................*/

@media screen and (min-width: 980px) and (max-width: 1200px)
  .container
    width: 980px

/*............................................................................................*/
/* ...................................MOYEN ECRAN.............................................*/

@media screen and (min-width: 768px) and (max-width: 980px)
  .container
    width: 768px
  header
    #infoUser
      margin-right: 1em
    nav
      ul
        margin-right: 1em
        li
          a
            padding: 2em

  main
    #navLeft
      article
        margin-left: 0.5em
        h5
          padding: 1% 5% 5% 1%
          a
            padding: 5%
      #creations
        #listCreations
          h4
            margin-left: 12%
        button
          margin: 0px 5px 0px 0px
        li
          margin: 0px 0px 0px 32px
      #products
        #listProducts
          li
            font-size: 0.8em
        button
          padding: 2% 5%
          left: 50%
      #chat
        #messageForm
          width: 75%
          #message
            width: 90%
          button
            padding: 2% 5%


  /*------------------------------------integration des templates-------------------------------------------*/
  /*--------page fields listing----------*/
  .avatarField
    img
      width: 37%
      height: 70%
      float: left
      margin: 4% 35%
  .listingField
    .informationField
      float: left
      padding: 5%
      display: block
      margin-left: 10%
      button
        padding: 0.4em 0.8em
        margin-top: 4%
      progress
        margin-left: 2%

  /*--------page building listing----------*/

  .avatarBuilding
    float: left
    width: 35%
    img
      width: 100%
      height: 100%
      float: left
      padding: 27% 6%
  .listingBuilding
    .informationBuilding
      float: left
      width: 60%
      box-sizing: border-box
      ul, button
        margin-left: 0%

/*.................................................................................................*/
/* ...................................PETIT ECRAN..................................................*/

@media screen and (max-width: 768px)
  .container
    width: 100%

  /*------------------------------------integration layout-------------------------------------------*/
  /*.......................HEADER..............................*/

  header
    #infoUser
      display: none
    nav
      padding-bottom: 0.1em
      margin-bottom: 0.2em
      width: 100%
      top: 15%
      ul
        float: none !important
        li
          width: 20%
          padding: 4%
          margin-top: 0.5em
          margin-left: 0.5em
          background: url("../img/pencarte.gif") no-repeat center
          a
            font-size: 80%
            top: 28%
            left: 15%
            padding: 5%

          #farm
            left: 25%

  /*.....................MAIN..............................*/
  main
    #navLeft
      width: 50%
      display: none
      min-width: 255px
      &.showOnPhone
        display: block
      article
        width: 100%
        h5
          font-size: 1em
          text-align: center
          padding: 1px 65px 10px 1px
        h6
          font-size: 1em
        a
          padding: 2%
          text-align: center
          color: white
          font-size: 1em
      #products
        button
          display: block
          padding: 2px
          border-radius: 2px
    #buttonNavLeft
      display: block
      background: url("../img/fleche2.jpg") no-repeat center
      background-size: cover
      height: 15px
      width: 15px
      margin: 5px
    #navLeft.showOnPhone + a#buttonNavLeft
      background-image: url("../img/fleche1.jpg")
      margin: 0 50%
      position: absolute
    #content
      width: 100%
      font-size: 0.9em
    #farmcontenant
      background: none
      border-radius: 5%
      padding: 1%
      width: 95%
      #farmcontenu
        padding: 4%
        background: rgba(10, 10, 10, 0.45)
        border-radius: 5%
      progress
        display: none


  /*------------------------------------integration des templates-------------------------------------------*/
  /*--------page fields listing----------*/
  .avatarField
    width: 100%
    img
      width: 30%
      height: 20%
      float: left
      margin: 2% auto 2%
      padding: 2% 35%
  .listingField
    .informationField
      padding: 2% 0
      box-sizing: border-box
      display: block
      margin: auto
      text-align: center
      ul
        li
          width: 100%
      progress
        margin-left: 2%
      button
        padding: 0.2em 0.4em
        width: 80%

  /*--------page building listing----------*/
  .avatarBuilding
    float: left
    width: 100%
    img
      width: 40%
      height: 20%
      float: left
      margin: 2% auto 2%
      padding: 2% 30%
  .listingBuilding
    .informationBuilding
      float: left
      padding: 2% 10%
      width: 100%
      box-sizing: border-box
      display: block
      ul
        li
          width: 100%
          margin: auto

  /*--------page animals listing----------*/
  .avatar
    width: 100%
    img
      width: 30%
      height: 20%
      margin: 2% auto 2%
      padding: 2% 30%
  .listing
    .information
      float: left
      box-sizing: border-box
      width: 100%
      display: block
      padding: 2% 22%
  button
    margin: 0 auto
    display: block
  .right
    width: 1%
    margin-left: 80px
/*--------------bar de progression -----*/

progress
  display: block
  width: 80%
  height: 1.5em
  margin: .5em 0
  border: 3px solid white
  border-radius: 5px
  background-color: #d4d4d4
  box-shadow: 0 0 0 3px #b6b6b6

/***********************************************************************/
@-webkit-keyframes progress
  from
    background-position: 0 0

  to
    background-position: 100% 100%

@-moz-keyframes progress
  from
    background-position: 0 0

  to
    background-position: 100% 100%

@keyframes progress
  from
    background-position: 0 0

  to
    background-position: 100% 100%

progress::-webkit-progress-bar
  border-radius: 5px
  background-color: #d4d4d4

progress::-webkit-progress-value
  border-radius: 5px
  background-color: #a5d62f
  background-image: -webkit-linear-gradient(-45deg, transparent 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%, transparent 50%, transparent 75%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.3))
  background-image: linear-gradient(-45deg, transparent 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%, transparent 50%, transparent 75%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.3))
  background-size: 40px 40px
  -webkit-animation: progress 8s linear infinite
  animation: progress 8s linear infinite

progress::-moz-progress-bar
  border-radius: 5px
  background-color: #a5d62f
  background-image: linear-gradient(-45deg, transparent 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%, transparent 50%, transparent 75%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.3))
  background-size: 40px 40px
  -moz-animation: progress 8s linear infinite
  animation: progress 8s linear infinite

