/*--------pages d'acceuil-------------- */
html, body {
  font-family: Consolas, monaco, monospace;
  color: #62c462; }

.container {
  width: 980px;
  height: 100%;
  margin: 0 auto;
  /*background: url('../img/backgroundHerbe.png') repeat-x fixed bottom */ }
  .container::after {
    content: "";
    display: block;
    clear: both; }

a {
  text-decoration: none;
  color: #A6E22E; }
  a:hover {
    color: #F92672; }

.box {
  position: relative;
  width: 100%;
  font-family: Helvetica;
  border-radius: 5%;
  padding: 30px 50px 30px;
  box-sizing: border-box; }
  .box ul h2 {
    color: darkgreen; }
  .box ul li {
    font-style: italic; }

.left {
  width: 50%;
  margin: 0 auto;
  float: left; }
  .left::before {
    display: block;
    content: "";
    clear: both; }

.right {
  width: 50%;
  margin: 0 auto; }

#error404 {
  background: url("../img/champs.png") no-repeat;
  background-size: cover; }
  #error404 #errorSection {
    float: right;
    margin-top: 5%;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 6%;
    width: 100%; }
    #error404 #errorSection #errorTitle {
      float: left;
      display: block;
      color: black;
      font-weight: bold;
      font-size: 2em;
      padding: 5% 5%; }
    #error404 #errorSection .errorP {
      color: black;
      padding: 5% 5%;
      font-weight: bold;
      font-size: 1.2em; }
    #error404 #errorSection #errorParagraphe {
      display: block;
      float: right;
      width: 80%;
      padding-top: 10%;
      position: absolute;
      left: 25%; }
    #error404 #errorSection .errorDiv {
      position: relative; }
      #error404 #errorSection .errorDiv::before {
        display: block;
        float: left;
        content: "";
        background: url("../img/fermier.png") no-repeat;
        width: 250px;
        height: 250px;
        padding: 2%; }
      #error404 #errorSection .errorDiv::after {
        display: block;
        content: "";
        background: url("../img/cow2.png") no-repeat;
        background-size: contain;
        width: 200px;
        height: 200px;
        padding: 2%;
        margin-left: 60%; }

/*---------------integration layout--------------------------------------- */
/*---------------------------------------------------------------------------- */
/* utilities */
.clearfix {
  clear: both;
  display: block; }

/* logo */
#logo {
  width: 25%;
  height: 25%; }

/*................................................................................. */
/*.......................................HEADER.................................. */
header {
  background: url("../img/champs.png") no-repeat top -450px right fixed;
  background-size: cover; }
  header img {
    display: block;
    float: left; }
  header #infoUser {
    float: right;
    padding: 1em 0 1em 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5%;
    width: 20%; }
    header #infoUser div {
      margin: 0 1em 0;
      width: 80%;
      padding: 5px; }
      header #infoUser div:first-child::before {
        background: url("../img/avatar.png") no-repeat center;
        background-size: cover;
        content: "";
        width: 1.8em;
        height: 1.3em;
        display: block;
        float: left;
        margin-right: 1em; }
      header #infoUser div:last-of-type::before {
        background: url("../img/or.png") no-repeat center;
        background-size: cover;
        content: "";
        width: 1.8em;
        height: 1.3em;
        display: block;
        float: left;
        margin-right: 1em; }
    header #infoUser a {
      margin: 0em 2em 0em;
      display: block;
      border-radius: 5%;
      padding: 0.5em;
      width: 80%; }
  header nav {
    position: relative;
    top: 3em;
    width: 100%; }
    header nav ul {
      float: right;
      width: 90%;
      margin: auto; }
      header nav ul li {
        float: left;
        list-style: none;
        background: url("../img/pencarte.gif") no-repeat center;
        background-size: contain;
        position: relative;
        padding: 7% 9%;
        margin: 0 1% 0; }
        header nav ul li a {
          text-decoration: none;
          color: #1a1a1a;
          font-weight: bold;
          position: absolute;
          top: 1.5em;
          text-transform: capitalize;
          padding: 3em;
          left: 0.1em; }
        header nav ul li #farm {
          left: 0.7em; }

.viber:hover {
  cursor: pointer;
  animation: vibration 2s cubic-bezier(0.2, 0.52, 0.71, 0.56) 0s; }

@-webkit-keyframes vibration {
  0% {
    opacity: 1;
    -webkit-transform: rotate(-2deg); }
  25% {
    -webkit-transform: rotate(-3deg); }
  50% {
    -webkit-transform: rotate(3deg); }
  75% {
    -webkit-transform: rotate(-2deg); }
  100% {
    opacity: 1;
    -webkit-transform: rotate(1deg); } }
/*.......................................MAIN.................................... */
main {
  padding: 4em 0; }
  main #navLeft {
    width: 25%;
    margin: auto;
    display: block;
    float: left;
    box-sizing: border-box; }
    main #navLeft article {
      background: url("../img/background.jpg") repeat-y;
      background-size: 100%;
      border-radius: 5px;
      margin: 0 auto 0.5em;
      box-sizing: border-box; }
      main #navLeft article h5 {
        color: white;
        padding: 20px 20px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        width: 80px;
        margin: 0 auto; }
      main #navLeft article h4 {
        color: white;
        margin-left: 10%; }
      main #navLeft article li {
        color: grey;
        margin-left: 30px;
        text-decoration: none;
        font-size: 17px;
        color: black;
        padding: 5% 21%;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.2em; }
      main #navLeft article a {
        display: block;
        padding: 1em;
        margin: auto;
        width: 50%;
        text-decoration: none;
        color: white;
        font-size: 1em;
        font-weight: bold;
        margin-left: 40px; }
        main #navLeft article a h6 {
          font-style: italic; }
    main #navLeft #products {
      position: relative;
      color: white;
      padding: 12% 0% 0%;
      color: black; }
      main #navLeft #products button {
        padding: 5%; }
      main #navLeft #products #listProducts li {
        margin: auto;
        width: 60%;
        padding: 0.5em 3.5em;
        font-weight: bold;
        color: white;
        font-size: 1em; }
      main #navLeft #products button {
        padding: 4% 10%;
        border-radius: 5px;
        cursor: pointer;
        text-transform: uppercase;
        background: rgba(255, 255, 255, 0.5);
        border: 0;
        width: 200px;
        margin-left: 20px; }
        main #navLeft #products button:hover {
          background: rgba(255, 255, 255, 0.8); }
        main #navLeft #products button:active {
          background: rgba(127, 127, 127, 0.2); }
    main #navLeft #listProducts {
      margin-left: 30px; }
    main #navLeft #creations {
      position: relative;
      color: white;
      padding: 12% 0% 0%; }
      main #navLeft #creations .red {
        color: red;
        display: inline-block; }
      main #navLeft #creations .green {
        color: green;
        display: inline-block; }
      main #navLeft #creations button {
        margin-left: 10px;
        padding: 1% 3% 1% 3%;
        cursor: pointer;
        background: rgba(255, 255, 255, 0.5);
        border: 0; }
        main #navLeft #creations button:hover {
          background: rgba(255, 255, 255, 0.8); }
        main #navLeft #creations button:active {
          background: rgba(127, 127, 127, 0.2); }
    main #navLeft #listCreations {
      margin-left: 30px; }
    main #navLeft #chat {
      width: 90%;
      margin: auto; }
      main #navLeft #chat #chatDisplay {
        background-color: white;
        border: 1px solid black; }
      main #navLeft #chat #chatboard textarea {
        width: 164px;
        max-width: 164px;
        height: 78px;
        max-height: 78px;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 10%;
        color: white; }
      main #navLeft #chat button {
        padding: 5%;
        border-radius: 5px;
        cursor: pointer;
        text-transform: uppercase;
        background: rgba(255, 255, 255, 0.5);
        border: 0;
        width: 200px;
        margin-left: 20px; }
        main #navLeft #chat button:hover {
          background: rgba(255, 255, 255, 0.8); }
        main #navLeft #chat button:active {
          background: rgba(127, 127, 127, 0.2); }
  main #buttonNavLeft {
    display: none; }
  main #content {
    width: 70%;
    float: right;
    box-sizing: border-box; }

/*.......................................FOOTER.................................. */
footer {
  background-color: green;
  text-align: center;
  text-transform: capitalize; }
  footer p {
    padding: 1em 0em;
    color: lightgrey; }

/*------------------------------------integration des templates------------------------------------------- */
/*--------page animals listing---------- */
.avatar {
  float: left;
  width: 30%; }
  .avatar img {
    width: 80%;
    height: 70%;
    float: left;
    padding: 15% 10%; }

.listing {
  border: 3px solid black;
  border-radius: 10px;
  margin: 0.5em; }
  .listing .information {
    float: left;
    width: 70%;
    padding: 5%;
    box-sizing: border-box; }
    .listing .information li {
      padding: 0.1em; }
    .listing .information button {
      padding: 0.5em 1em;
      margin-top: 2%; }
  .listing::after {
    content: "";
    display: block;
    clear: both; }

/*--------page building listing---------- */
.avatarBuilding {
  float: left;
  width: 30%; }
  .avatarBuilding img {
    width: 90%;
    height: 80%;
    float: left;
    padding: 15% 10%; }

.listingBuilding {
  border: 3px solid black;
  border-radius: 10px;
  margin: 0.5em; }
  .listingBuilding .informationBuilding {
    width: 70%;
    float: right;
    padding: 5%;
    box-sizing: border-box; }
    .listingBuilding .informationBuilding li {
      padding: 0.1em; }
    .listingBuilding .informationBuilding button {
      padding: 0.5em 1em;
      margin-top: 2%; }
  .listingBuilding::after {
    content: "";
    display: block;
    clear: both; }

/*--------page fields listing---------- */
.avatarField {
  float: left;
  width: 30%; }
  .avatarField img {
    width: 60%;
    height: 50%;
    float: left;
    padding: 15% 10%; }

.listingField {
  border: 3px solid black;
  border-radius: 10px;
  margin: 10px; }
  .listingField .informationField {
    padding: 5%; }
    .listingField .informationField li {
      padding: 0.1em; }
    .listingField .informationField button {
      padding: 0.5em 1em;
      margin-top: 2%; }
  .listingField::after {
    content: "";
    display: block;
    clear: both; }

/*.................................................................................. */
/* ..........................RESPONSIVE DESIGN....................................... */
@media screen and (min-width: 980px) and (max-width: 1200px) {
  .container {
    width: 980px; } }
/*............................................................................................ */
/* ...................................MOYEN ECRAN............................................. */
@media screen and (min-width: 768px) and (max-width: 980px) {
  .container {
    width: 768px; }

  header #infoUser {
    margin-right: 1em; }
  header nav ul {
    margin-right: 1em; }
    header nav ul li a {
      padding: 2em;
      top: 2em; }

  main #navLeft article {
    margin-left: 0.5em; }
    main #navLeft article h5 {
      padding: 5% 12%; }
      main #navLeft article h5 a {
        padding: 5%; }
  main #navLeft #products #listProducts li {
    font-size: 0.8em; }
  main #navLeft #products button {
    padding: 2% 5%;
    left: 50%; }
  main #navLeft #chat #messageForm {
    width: 75%; }
    main #navLeft #chat #messageForm #message {
      width: 90%; }
    main #navLeft #chat #messageForm button {
      padding: 2% 5%; }

  /*------------------------------------integration des templates------------------------------------------- */
  /*--------page fields listing---------- */
  .avatarField img {
    width: 60%;
    height: 50%;
    float: left; }

  .listingField .informationField {
    float: left;
    padding: 5%;
    display: block; }
    .listingField .informationField button {
      padding: 0.4em 0.8em;
      margin-top: 4%; }

  /*--------page building listing---------- */
  .avatarBuilding {
    float: left;
    width: 35%; }
    .avatarBuilding img {
      width: 100%;
      height: 100%;
      float: left;
      padding: 50% 20%; }

  .listingBuilding .informationBuilding {
    float: left;
    padding: 12%;
    width: 60%;
    box-sizing: border-box; } }
/*................................................................................................. */
/* ...................................PETIT ECRAN.................................................. */
@media screen and (max-width: 768px) {
  .container {
    width: 100%; }

  /*------------------------------------integration layout------------------------------------------- */
  /*.......................HEADER.............................. */
  header #infoUser {
    display: none; }
  header nav {
    padding-bottom: 0.1em;
    margin-bottom: 0.2em;
    width: 100%;
    top: 15%; }
    header nav ul {
      float: none !important; }
      header nav ul li {
        width: 20%;
        padding: 4%;
        margin-top: 0.5em;
        margin-left: 0.5em;
        background: url("../img/pencarte.gif") no-repeat center; }
        header nav ul li a {
          font-size: 80%;
          top: 28%;
          left: 15%;
          padding: 5%; }
        header nav ul li #farm {
          left: 25%; }

  /*.....................MAIN.............................. */
  main #navLeft {
    width: 50%;
    display: none; }
    main #navLeft.showOnPhone {
      display: block; }
    main #navLeft article {
      width: 100%; }
      main #navLeft article h5 {
        padding: 20px 0 20px 5px;
        font-size: 1.5em;
        text-align: center; }
      main #navLeft article a {
        padding: 2%;
        text-align: center;
        color: white;
        font-size: 1em; }
    main #navLeft #products button {
      display: block;
      padding: 2px;
      border-radius: 2px; }
  main #buttonNavLeft {
    display: block;
    background: url("../img/fleche2.jpg") no-repeat center;
    background-size: cover;
    height: 15px;
    width: 15px;
    margin: 5px; }
  main #navLeft.showOnPhone + a#buttonNavLeft {
    background-image: url("../img/fleche1.jpg");
    margin: 0 50%; }
  main #content {
    width: 100%;
    font-size: 0.9em; }

  /*------------------------------------integration des templates------------------------------------------- */
  /*--------page fields listing---------- */
  .avatarField {
    width: 100%; }
    .avatarField img {
      width: 30%;
      height: 20%;
      float: left;
      margin: 2% auto 2%;
      padding: 2% 35%; }

  .listingField .informationField {
    padding: 2% 0;
    box-sizing: border-box;
    display: block;
    margin: auto;
    text-align: center; }
    .listingField .informationField ul li {
      width: 100%; }

  /*--------page building listing---------- */
  .avatarBuilding {
    float: left;
    width: 100%; }
    .avatarBuilding img {
      width: 40%;
      height: 20%;
      float: left;
      margin: 2% auto 2%;
      padding: 2% 30%; }

  .listingBuilding .informationBuilding {
    float: left;
    padding: 2% 10%;
    width: 100%;
    box-sizing: border-box;
    display: block; }
    .listingBuilding .informationBuilding ul li {
      width: 100%;
      margin: auto; }

  /*--------page animals listing---------- */
  .avatar {
    width: 100%; }
    .avatar img {
      width: 30%;
      height: 20%;
      margin: 2% auto 2%;
      padding: 2% 30%; }

  .listing .information {
    float: left;
    box-sizing: border-box;
    width: 100%;
    display: block;
    padding: 2% 22%; } }
/*--------------bar de progression ----- */
progress {
  display: block;
  width: 80%;
  height: 1.5em;
  margin: 0.5em 0;
  border: 3px solid white;
  border-radius: 5px;
  background-color: #d4d4d4;
  box-shadow: 0 0 0 3px #b6b6b6; }

@-webkit-keyframes progress {
  from {
    background-position: 0 0; }
  to {
    background-position: 100% 100%; } }
@-moz-keyframes progress {
  from {
    background-position: 0 0; }
  to {
    background-position: 100% 100%; } }
@keyframes progress {
  from {
    background-position: 0 0; }
  to {
    background-position: 100% 100%; } }
progress::-webkit-progress-bar {
  border-radius: 5px;
  background-color: #d4d4d4; }

progress::-webkit-progress-value {
  border-radius: 5px;
  background-color: #a5d62f;
  background-image: -webkit-linear-gradient(-45deg, transparent 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%, transparent 50%, transparent 75%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.3));
  background-image: linear-gradient(-45deg, transparent 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%, transparent 50%, transparent 75%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.3));
  background-size: 40px 40px;
  -webkit-animation: progress 8s linear infinite;
  animation: progress 8s linear infinite; }

progress::-moz-progress-bar {
  border-radius: 5px;
  background-color: #a5d62f;
  background-image: linear-gradient(-45deg, transparent 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%, transparent 50%, transparent 75%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.3));
  background-size: 40px 40px;
  -moz-animation: progress 8s linear infinite;
  animation: progress 8s linear infinite; }

/*# sourceMappingURL=styles.css.map */
